<form name = "hwForm" action="/" method="POST">
    <label>Class (1, 2 or 3): </label>
    <input type="text" name="pclass">
    <label>Sex: (1-Male / 0-Female) </label>
    <input type="text" name="sex">
    <label>Age: </label>
    <input type="text" name="age">
    <label>Number of relatives: </label>
    <input type="text" name="sibsp">
    <label>Parents or children? (indicate "1" if you don't know):: </label>
    <input type="text" name="parch">
    <label>Ticket (indicate "1" if you don't know): </label>
    <input type="text" name="ticket">
    <label>Fare (indicate "1" if you don't know): </label>
    <input type="text" name="fare">
    <label>Cabin (indicate 1 if you don't know): </label>
    <input type="text" name="cabin">
    <label>Embarked (indicate "S", "C" or "Q"): </label>
    <input type="text" name="embarked">
    <input type="submit" value="Submit">
</form>
